@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg-navbar-color: #292b2f;
    --text-navbar-color: #9ca3af;
    --bg-home-color: #151515;
}